.teamCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
  gap: 40px;
}

.teamCard {
  text-align: center;
  background-color: #f8f8f8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.teamCard img {
  width: 220px;
  height: 296px;
  background: linear-gradient(to right, #d9d9d9bd 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.teamCard img:hover {
  background-position: left bottom;
}

.info {
  font-weight: 500 !important;
  padding-top: 8px;
  padding-bottom: 8px;
  background: #0d1117;
  margin-top: -4px;
  color: whitesmoke;
}
.head {
  margin: 40px 0;
  text-align: center;
  font-weight: bold !important;
  font-size: 30px;
}

.futureAcademy {
  margin: 40px 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.futureAcademy img {
  width: 300px;
}

@media (max-width: 480px) {
  .futureAcademy img {
    width: 150px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .futureAcademy img {
    width: 150px;
  }
}

.doctor {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  margin-top: -40px;
}
